:root {
  --branding-color: #cdd6bc;
  --secondary-color: #e0e5d6;
  --heading-font-family: "Oswald", sans-serif;
  --default-font-family: "Open Sans", sans-serif;
  --font-primary-color: #1f1a29;
}
body {
  font-family: var(--heading-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-primary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--font-primary-color);
  font-family: var(--default-font-family);
}
.main-page {
  background: white;
}
.hero {
  background: var(--secondary-color);
  color: var(--font-primary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-family: var(--default-font-family);
  color: var(--font-primary-color);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: 1px 1px 3px #1f1a29;
}

.project-description {
  padding: 120px 60px;
}
.footer-container i {
  color: var(--branding-color);
  font-size: 30px;
  text-align: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
