:root {
  --branding-color: #cdd6bc;
  --secondary-color: #e0e5d6;
  --heading-font-family: "Oswald", sans-serif;
  --default-font-family: "Open Sans", sans-serif;
  --font-primary-color: #1f1a29;
  --logo-font-family: "Montserrat", sans-serif;
}
body {
  font-family: var(--heading-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-primary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-family: var(--logo-font-family);
  font-size: 70px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--font-primary-color);
  font-family: var(--default-font-family);
}
.main-page {
  background: white;
}

.hero {
  background: var(--secondary-color);
  color: var(--font-primary-color);
  text-align: center;
  padding: 100px 20px;
  transition: 100s;
}
.hero h2 {
  font-family: var(--default-font-family);
  color: var(--font-primary-color);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;

  line-height: 27px;
  padding: 15px 30px;
  box-shadow: 1px 1px 3px #1f1a29;
}

.project-description {
  padding: 120px 60px;
}

footer {
  margin: 60px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: #1f1a29;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--font-primary-color);
  background: var(--secondary-color);
  padding: 6px 11px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
footer .code-link {
  font-size: 12px;
}
.logo {
  max-width: 120px;
}
nav {
  padding: 30px 0 0;
}
nav ul {
  padding: 0;
  margin: 0;
  margin-top: 35px;
}
nav li {
  display: inline;
  list-style: none;
  margin: 0;
  line-height: 45px;
  margin-left: 30px;
}
nav a {
  font-size: 25px;
  color: var(--font-primary-color);
  text-decoration: none;
}

nav a:hover,
nav li.active a {
  color: #1f1a29;
  text-decoration: underline 6px #cdd6bc;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 18px;
  }
  nav a {
    font-size: 16px;
  }
  .logo {
    max-width: 90px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
  }
  .content h1 {
    font-size: 34px;
    line-height: 34px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
